<div style="font-family:arial; font-size:16px;">
    <p>
        Le message suivant a été envoyé par {{contactFormData.firstName}} {{contactFormData.lastName}}.<br/><br/>
        Adresse e-mail: {{ contactFormData.email }}: {{ contactFormData.email }}<br/>
        Téléphone: {{ contactFormData.phone }}<br/>
        Sujet: {{ contactFormData.subject }}<br/>
        Message: {{ contactFormData.comment }}
    </p>
</div>