<div style="font-family:arial; font-size:16px;">
    <p>
        Het volgende bericht is verzonden door {{ contactFormData.firstName }} {{ contactFormData.lastName }}.<br/><br/>
        E-mailadres: {{ contactFormData.email }}<br/>
        Telefoon: {{ contactFormData.phone }}<br/>
        Onderwerp: {{ contactFormData.subject }}<br/>
        Bericht: {{ contactFormData.comment }}
    </p>
</div>