<div style="font-family:arial; font-size:16px;">
    <p>
        Following message was sent to you by {{ contactFormData.firstName }} {{ contactFormData.lastName }} via the contact form.<br/><br/>
        Contact email address: {{ contactFormData.email }}<br/>
        Phone: {{ contactFormData.phone }}<br/>
        Subject: {{ contactFormData.subject }}<br/>
        Message: {{ contactFormData.comment }}
    </p>
</div>
