<div class="form-group {{ additionalClass }}">
    <label class="form-label" for="form-{{ fieldName }}">
        {{ label|trans|sw_sanitize }} {% if required %}{{'general.required'|trans }}{% endif %}
    </label>
    <select name="{{ fieldName }}"
            id="form-{{ fieldName }}"
            {% if required %}required="required"{% endif %}
            class="custom-select contact-select{% if formViolations.getViolations('/' ~ fieldName) %} is-invalid{% endif %}">

        <option selected="selected" value="">
            {{ placeholderLabel|trans|sw_sanitize }}
        </option>

        {% for option in options %}
            <option value="{{ option.value|trans|sw_sanitize }}">
                {{ option.label|trans|sw_sanitize }}
            </option>
        {% endfor %}
    </select>

    {% if formViolations.getViolations('/' ~ fieldName) is not empty %}
        {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig'
            with { violationPath: '/' ~ fieldName }
        %}
    {% endif %}
</div>
